<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>PASSWORD</title>
    <link rel="stylesheet" href="{{url_for('static', filename='1.css')}}">
</head>
    <body>
        <section>
            <form>
                <div class="password">
                 <label for="psw"><b>Password</b></label>
                 <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                 <label for="psw-repeat"><b>Repeat Password</b></label>
                 <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                 <hr>
                 <button type="submit" class="registerbtn">CREATE PASSWORD</button>
                </div>
            </form>
        </section>
    </body>
</html>