<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="1.css">
    <link rel="stylesheet" href="{{url_for('static', filename='1.css')}}">
</head>
    <body>
        <section>
            <form>
                <div class="Enter">
                 <input type="EnterAccountID" placeholder="EnterAccountID" name="EnterAccountID" id="EnterAccountID" required>
                 <input type="EnterAmount" placeholder="EnterAmount" name="EnterAmount" id="EnterAmount" required>
                 <input type="EnterCustomerPhoneno" placeholder="EnterCustomerPhoneno" name="EnterCustomerPhoneno" id="EnterCustomerPhoneno" required>
                 <button type="submit" class="pay">pay</button>
                    </div>
            </form>
        </section>
    </body>
</html>