<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Customer Type</title>
    <h1>CLOUD BASED ON POS</h1>
    <link rel="stylesheet" href="{{url_for('static', filename='1.css')}}">
</head>
    <body>
        <h2>SELECT CUSTOMER TYPE</h2>
        <section>
            <div class="new"> 
            <a href="{{url_for('new_user')}}"class="new-user"> NEW USER</a>
            </div>
            <div class="existing"> 
            <a href="{{url_for('capture_image')}}" class="existing-user">EXISTING USER</a>
            </div>
            
        </section>
    </body>
</html>